---

---

<section>
  <div class="whole">
      <div>
        <img src="/Happy People.jpg" alt="" />
      </div>
      <div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque rerum
          recusandae unde optio quos, id odio doloribus sit possimus doloremque
          excepturi impedit placeat fugit animi totam, fuga minima! Quidem, quae?
          Quis praesentium itaque deleniti, laboriosam amet at dolorum repellendus
          quidem facere sequi porro nisi laborum reiciendis animi, non suscipit,
          ipsum atque autem pariatur odit! Necessitatibus ipsum quisquam beatae eum
          voluptatibus. Exercitationem explicabo, possimus neque laborum est qui
          soluta quidem optio necessitatibus quia, maxime repudiandae voluptate
          ratione, quae modi amet asperiores nisi inventore cum maiores et! Sapiente
          molestias excepturi omnis recusandae! Nobis a rem exercitationem earum
          veritatis cum sunt possimus dolores excepturi eaque aspernatur rerum,
          mollitia blanditiis voluptas fuga est adipisci dicta sit ratione
          voluptatibus ullam sint ipsa consequatur? Exercitationem, asperiores!
          Temporibus officia, facere facilis quisquam veritatis, doloremque
          perspiciatis reprehenderit aliquid maxime velit nisi et delectus
          repellendus nostrum debitis error quod tenetur illo quos eligendi quaerat?
          Expedita quae a tempore assumenda.
        </p>
      </div>
  </div>
</section>
<style>
    .whole {
        display: flex;
        
    }
  img {
    margin: 10px;
    padding: 2cm 0 0 2cm;
  }

  p {
    max-width: 60ch;
    padding: 50px;
    
  }
</style>
<script></script>
